<Header 
  [menus]="menus" 
  [title]="title"
></Header>
<Intro 
  [intros]="intros"
></Intro>
<main id="main">

  <featured-services 
    [services]="services"
  ></featured-services>

  <about 
    title="About Us" 
    [aboutDescription]="aboutDescription" 
    [about]="about"
  ></about>

  <services 
    title="Services" 
    [ourServicesDescription]="ourServicesDescription" 
    [ourServices]="ourServices"
  ></services>
    
  <calltoaction 
    title="Call To Action" 
    [callToActionDescription]="callToActionDescription"
  ></calltoaction>

  <skills 
    title="Our Skills" 
    [skillsDescription]="skillsDescription" 
    [skills]="skills"
  ></skills>

  <facts 
    title="Facts" 
    [factsDescription]="factsDescription" 
    [factImage]="factImage" 
    [facts]="facts"
  ></facts>

  <portfolio 
    title="Our Portfolio" 
    [portfolioFilters]="portfolioFilters"
    [portfolios]="portfolios"
  ></portfolio>

  <clients
    title="Our Clients"
    [clients]="clients"  
  ></clients>

  <testimonials
    title="Testimonials"
    [testimonials]="testimonials"  
  ></testimonials>
    
  <team
    title="Team"
    [teamDescription]="teamDescription"
    [team]="team"
  ></team>
    
  <contact
    title="Contact Us"
    [contactDescription]="contactDescription"
    [address]="address"
  ></contact>
  </main>

  <Footer 
    [title]="title"
    [description]="description"
    [usefulLinks]="usefulLinks"
    [address]="address"
    [socialLinks]="socialLinks"
    [newsLetterDescription]="newsLetterDescription"
  ></Footer>
  <Backtotop></Backtotop>
