    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>{{title}}</h3>
          <p>{{ourServicesDescription}}</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" [attr.data-wow-delay]="i>2?'0.1s':'0'" *ngFor="let service of ourServices; let i = index">
            <div class="icon"><i [ngClass]="service.icon"></i></div>
            <h4 class="title"><a href="">{{service.title}}</a></h4>
            <p class="description">{{service.description}}</p>
          </div>
        </div>

      </div>
    </section><!-- #services -->
